{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author.first_name }} {{ author.last_name }}</h1>

  <p><strong>Date of birth:</strong> {{ author.date_of_birth|date:"M j, Y" }}{% if author.date_of_death %} - {{ author.date_of_death|date:"M j, Y" }}{% endif %}</p>

  <h2>Books</h2>

  {% if author.book_set.all %}
    <ul>
      {% for book in author.book_set.all %}
        <li>
          <a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a> ({{ book.get_display_genre }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>This author has not written any books.</p>
  {% endif %}

    <div style="margin-top: 30px; border-top: 1px solid #ccc; padding-top: 20px;">
    <h4>Действия с Автором:</h4>
    <a href="{% url 'author_update' author.pk %}" class="btn btn-primary">Редактировать автора</a>
    <a href="{% url 'author_delete' author.pk %}" class="btn btn btn-danger">Удалить автора</a>
  </div>

{% endblock %}